h1 {
	color: #919191;
}
h2 {
	color: #ffffff;
}
a {
	color: #fa6007;
	font-size: 20px;
}
html {
	background-color: #141a24;
	font-family: cursive;
}
p {
	font-size: 20px;
	color: #ffffff;
}